.playerBox {
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(14, 82, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardWrapper {
    position: absolute;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardWrapper p {
    position: absolute;
    top: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cardWrapper img {
    position: absolute;
    top: -65px;
    right: 62px;
    height: 50px;
    width: 50px;
}

.cardWrapper span {
    position: absolute;
    left: 63px;
    top: -45px;
}

.card {
    width: 60%;
    height: 60%;
}