.playerBox {
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(14, 82, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardWrapper {
    position: absolute;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardWrapper p {
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cardWrapper img {
    position: absolute;
    top: -80px;
    right: 35px;
    height: 90px;
    width: 90px;
}

.cardWrapper span {
    position: absolute;
    left: 41px;
    top: -20px;
}

.card {
    width: 100%;
    height: 100%;
}