.main {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    width: 80%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmakersWrapper {
    width: 100%;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.bookmakerBox {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 980px) {
    .bookmakersWrapper {
        grid-template-columns: repeat(3, 150px);
    }
}

@media (max-width: 680px) {
    .bookmakersWrapper {
        grid-template-columns: repeat(2, 150px);
    }
}

@media (max-width: 480px) {
    .bookmakersWrapper {
        grid-template-columns: repeat(1, 150px);
    }
}