.playersMain {
    width: 100%;
    display: flex;
}

.filtersMain {
    width: 20%;
    margin-bottom: 100px;
}

.playersListMain {
    width: 80%;
}

.playersWrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.SelectCountry {
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectCountry p {
    font-size: 20px;
}

@media (max-width: 1120px) {
    .playersWrapper {
        grid-template-columns: repeat(3, 50px);
    }
}

@media (max-width: 860px) {
    .playersMain {
        flex-direction: column;
    }

    .filtersMain {
        width: 100%;
    }

    .playersListMain {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .playersWrapper {
        grid-template-columns: repeat(3, 50px);
    }

    .SelectCountry {
        width: 100%;
    }
}

@media (max-width: 690px) {
    .playersWrapper {
        grid-template-columns: repeat(2, 50px);
    }
}

@media (max-width: 480px) {
    .playersWrapper {
        grid-template-columns: repeat(1, 50px);
    }
}