.playersMain {
    width: 100%;
    display: flex;
}

.filtersMain {
    width: 20%;
}

.playersListMain {
    width: 80%;
}

.playersWrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.paginationWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.paginationWrapper select {
    margin: 20px;
    border-style: solid;
    border-color: rgb(14, 82, 53);
}