.main {
    width: 100%;
    padding: 10px;
}

.matchesBox {
    width: 100%;
}

.teamTd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullTime {
    text-align: center;
}

.filterBox {
    width: 100%;
    height: 100px;
    display: flex;
}

.filterBox1, .filterBox3 {
    width: 20%;
}

.filterBox2, .filterBox1, .filterBox3 {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.filterBox2 {
    width: 60%;
}

.live {
    display: flex;
}

.NoResults {
    width: 100%;
    height: 200px;
    font-size: 50px;
}