.main {
    width: 100%;
    display: flex;
}

.countiesBlock {
    width: 20%;
}

.teamsBlock {
    width: 80%;
    min-height: 800px;
}

.teamsListMain {
    width: 100%;
}

.teamsWrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.teamBox {
    padding: 20px;
    height: 300px;
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(14, 82, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.teamBox p span {
    margin-right: 10px;
}

@media (max-width: 1120px) {
    .main {
        flex-direction: column;
    }

    .countiesBlock {
        width: 100%;
    }

    .teamsBlock {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .teamsWrapper {
        grid-template-columns: repeat(3, 50px);
    }
}

@media (max-width: 700px) {
    .teamsWrapper {
        grid-template-columns: repeat(2, 50px);
    }
}

@media (max-width: 480px) {
    .teamsWrapper {
        grid-template-columns: repeat(1, 50px);
    }
}