.main {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerWrapper {
    width: 80%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.playerBox {
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(14, 82, 53);
    display: flex;
    flex-direction: row;
}

.playerData {
    width: 20%;
    border-left: solid;
    border-width: thin;
    border-color: rgb(14, 82, 53);
}

.playerDataRight {
    width: 20%;
    border-left: solid;
    border-right: solid;
    border-width: thin;
    border-color: rgb(14, 82, 53);
}

.playerData p, .playerDataRight p {
    padding: 10px;
}

.playerData p span, .playerDataRight p span {
    padding-right: 10px;
    font-weight: bold;
    color: rgb(14, 82, 53);
}