.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(14, 82, 53);
}

.navLinkText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.navLinkText:hover {
    font-size: 17px;
    color: rgb(49, 201, 141);
}