.main {
    width: 100%;
    display: flex;
}

.filtersMain {
    width: 20%;
}

.content {
    width: 80%;
    margin-left: 20px;
}

.leaguesWrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.leagueBox {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(14, 82, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}