.main {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.filtersMain {
    width: 20%;
}

.content {
    width: 80%;
    margin-left: 20px;
    min-height: 600px;
}

.leaguesWrapper {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.leagueBox {
    width: 200px;
    height: 120px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(14, 82, 53);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.ShowSeasonsNavlink {
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 10px;
}

@media (max-width: 1120px) {
    .main {
        flex-direction: column;
    }

    .filtersMain {
        width: 100%;
    }

    .content {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .leaguesWrapper {
        grid-template-columns: repeat(3, 50px);
    }
}

@media (max-width: 690px) {
    .leaguesWrapper {
        grid-template-columns: repeat(1, 50px);
    }
}