.main {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seasons {
    margin-top: 50px;
    width: 70%;
    min-height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.showInfo {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}