.main {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seasons {
    margin-top: 50px;
    width: 70%;
    min-height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}

.showInfo {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media (max-width: 1251px) {
    td, th {
        padding: 10px;
    }
}

@media (max-width: 1050px) {
    .showInfo a {
        font-size: 10px;
    }
}

@media (max-width: 740px) {
    .showInfo {
        text-align: end;
    }

    .showInfo a {
        font-size: 10px;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}