.App {
    width: 100%;
}

a {
    text-decoration: none;
}

.AppContent {
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 780px) {
    .AppContent {
        margin-top: 0;
    }
}

@media (min-width: 2800px) {
    .AppContent {
        min-height: 1500px;
    }
}

@media (min-width: 3300px) {
    .AppContent {
        min-height: 2000px;
    }
}

@media (min-width: 3800px) {
    .AppContent {
        min-height: 2500px;
    }
}