@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SearchBtn {
  background-color: rgb(14, 82, 53);
  color: rgb(255, 255, 255);
  border-style: none;
  padding: 10px;
  border-radius: 5px;
}

.SearchBtn:hover {
  background-color: rgb(49, 201, 141);
  color: rgb(14, 82, 53);
  cursor: pointer;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}