:root {
    --selectLanguageColor: rgb(0, 0, 0);
    --selectLanguageBorderColor: rgb(14, 82, 53);
}

[data-theme='DARK_THEME'] {
    --selectLanguageBorderColor: rgb(49, 201, 141);
    --selectLanguageColor: rgb(49, 201, 141);
}

.main {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectLanguage, .themeSwitcher {
    width: 80%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectLanguage select {
    transition: var(--transition);
    border-color: var(--selectLanguageBorderColor);
    background-color: var(--background-color);
    color: var(--selectLanguageColor);
    font-size: 15px;
    width: 200px;
}

.selectLanguage h1 {
    color: var(--selectLanguageColor);
    transition: var(--transition);
}